div.work {
    width: 700px;
}

div.pb {
    clear: both;
}

span.spacer {
    display: inline-block;
    width: 330px;
}

span.line {
    display: block;
}

p.pagenumber {
    text-align: center;
}

img.facs {
    float: right;
    width: 300px;
    height: 540px;
    margin: 16px;
}

ul.toc {
    list-style: none;
}

ul.toc li {
    text-indent: -1em;
    padding-left: 1em;
}

.ballads-tbl {
    width: 50%;
    border: none;
}

.ballads-tbl tr, .ballads-tbl td {
    border: none !important;
    background: none;
}

a.footnote {
    text-decoration: none;
}

p.footnote {
    font-size: 80%;
    margin-top: 20px;
}

hr {
    margin-left: auto !important;
    margin-right: auto !important;
}
