/**
 * Stylesheet for the Lyrical Ballads project
 * 
 * 
 */
 
@import 'reset';
@import 'fonts';
 
:root, html{
    font-size: 1rem;
} 

body{
    font-family: "Cormorant Garamond";
    font-size: 1.2rem;
 }

 
 /* Document structure */
 
ul[data-type="toc"] {
    list-style: none;
}


nav{
    background:grey;
    padding:.5rem 0;
    display:flex;
    width:100%;
}



nav > ul{
    display:flex;
    width:100%;
    justify-content:space-between;
    list-style-type:none;
    margin:0;
    padding:0;
    & > li{
        text-align:center;
        
    }
}

nav ul ul{
    display:none;
}

nav ul > li:hover > ul{
    display:block;
}

article ul[data-type="toc"] li {
    text-indent: -1em;
    padding-left: 1em;
}

article{
    max-width:60rem;
    margin:0 auto;
}

.page{
    display:grid;
    grid-template-columns: minmax(min-content, 50ch) clamp(10rem, 33vw, 38rem);
    @media (max-width: 767px){
        grid-template-columns: auto;
        .text{
            order: 2;
        }
        .image{
            order: 1;
            margin-bottom:0.6rem;
            padding-bottom:0.6rem;
            border-bottom: 1px solid #efefef;
        }
    }
    gap: 1em;
    padding: 4rem 0.75rem;
    justify-content:center;
}


.page + .page{
    border-top: 1px solid black;
}

*:not(.pageNum) + .tei-lg{
    margin-top: 1em;
    
}

.image{
        margin: 0 auto;
}
    

img{
    max-height:30rem;
    max-width:100%;
    height:auto;
    width:auto;
}

.pageNum{
    text-align:center;
    margin-bottom:2rem;
}
.text{
    line-height:1.45;
    margin-right: auto;
    display:flex;
    flex-direction:column;
    width:100%;
    padding:0.5rem;
}

.footnote{
    align-self:end;
    margin-top:1.5em;
    font-size:0.88em;
    text-indent: 1em;
}
